@page "/"
@using AssemblyCPU.Backend
@using AssemblyCPU.Components 

<div style="float: left; margin-right: 10px; width: auto;">
    <div style="display: block">
        <FormattedButton Tooltip="Compile the program into memory" Content="Compile" Click="@Compile" />
        <FormattedButton Tooltip="Executes one CPU state" Content="Pulse" Click="@Pulse" />
        <FormattedButton Tooltip="Executes a full command" Content="Cycle" Click="@Cycle" />
        <FormattedButton Tooltip="Run the program" Content="@RunText" Click="@RunToggle" />
        <FormattedButton Tooltip="Clear all data storage, and stop execution" Content="Reset" Click="@Reset" />
    </div>

    <div style="display: ">
        <p title="The current instruction being worked upon">Current instruction (MAR): @cpu.Instance.SpecialReg["MAR"].Data</p>
        <p title="The next CPU state to be worked upon">Next state: @cpu.State</p>
        <p title="Whether the CPU has is in a halted state, where it will no longer execute instructions">Is halted: @cpu.Instance.Halted</p>
        <div title="The speed at which to run programs" style="display: inline">
            <span>Speed: </span>
            <input type="number" step="1" min="1" max="10" style="width: 10%;" @bind-value="Speed" @bind-value:event="onchange" />
        </div>
    </div>       

    <textarea id="code" class="border-black border-2" style="width: 100%; height: 600px;"
              @bind-value="Content" @bind-value:event="oninput" spellcheck="false" />
</div>


<div style="display: inline-block; margin-right: 10px;">
    <GeneralStorage Cols="10" Rows="10" Name="RAM" Data="@cpu.Instance.GeneralReg["RAM"]" />
</div>

<div style="display: inline-block; margin-right: 10px;">
    <GeneralStorage Cols="1" Rows="8" Name="General Registers" Data="@cpu.Instance.GeneralReg["Registers"]" />
</div>

<div style="display: inline-block; margin-right: 10px;">
    <SpecialStorage Cols="1" Rows="5" Name="Special Registers" Registers="@cpu.Instance.SpecialReg" />
</div>

@code  {
    CPU cpu;
    public string Content { get; set; }

    private float _speed { get; set; }
    public float Speed
    {
        get => _speed;
        set => _speed = Math.Max(Math.Min(value, 10), 0);
    }

    public string RunText { get; set; }
    private System.Timers.Timer _timer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        cpu = new CPU(8, 100);

        //Set default values
        RunText = "Run";
        _speed = 5;
        Content = "MOV R0,#0b10101\n" +
                  "MOV R1,#0x1C\n" +
                  "MOV R2,#10\n" +
                  "LSL R3,R0,#2\n\n" +
                  "CMP R0,R1\n" +
                  "BNE notEqual\n" +
                  "STR R2,90\n" +
                  "HALT\n\n" +
                  "notEqual: STR R3,90\n" +
                  "HALT";

        //Create timer for running cpu instructions
        _timer = new System.Timers.Timer((int)(1000 / _speed));
        _timer.Elapsed += (s, e) => {
            cpu.Pulse();

            if (cpu.Instance.Halted)
            {
                RunText = "Run";
                _timer.Enabled = false;
            }

            StateHasChanged();
        };
        _timer.AutoReset = true;
    }

    void Compile()
    {
        Backend.Program.CompileProgram(cpu.Instance, Content);
        StateHasChanged();
    }

    void Pulse()
    {
        cpu.Pulse();
        StateHasChanged();
    }

    void Cycle()
    {
        cpu.Cycle();
        StateHasChanged();
    }

    void RunToggle()
    {
        if (RunText == "Run")
        {
            RunText = "Stop";

            _timer.Interval = (int)(1000 / _speed);
            _timer.Enabled = true;
        }
        else
        {
            RunText = "Run";
            _timer.Enabled = false;
        }
    }

    void Reset()
    {
        RunText = "Run";
        _timer.Enabled = false;
        cpu.RegenerateInstance();
    }
}